*{
    margin: 0;
    padding: 0;
}

#check{
    display: inline-block;
    margin-left: 2%;
    margin-top: 2%;
    padding: 3px;
}

fieldset{
    margin: 5px;
    border: 2px solid #FFFFFF;
}

body form{
    border: 3px solid #071E22;
    background-color: #A8DAE5;
    font-family: sans-serif;
    font-size: 1em;
    color:#0000FF;
    margin-left: 2%;
    margin-top: 2%;
    justify-content: center;
}

input, select, textarea, button{
    font-family: sans-serif;
    font-size: 1em;
    color: #21E7EE;
    border-radius: 5px;
}

.grupo:before, .grupo:after {
    display: table;
}

.grupo:after {
    clear: both;
}

.campo{
    margin: 1em;
}

.campo label{
    margin-bottom: 0.2em;
    color: #0000FF;
    display: block;
}

fieldset.grupo .campo{
    float: left;
    margin-right: 1em;
}

.campo input[type="text"], .campo input[type="email"], .campo select, .campo textarea{
    padding: 0.2;
    border: 1px solid #A8DAE5;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.0);
    display: block;
}

.campo select option{
    padding-right: 1em;
}

.campo input:focus, .campo select:focus, .campo textarea:focus{
    background: #21E7EE;
}

.botao{
    font-size: 1.2em;
    background: #000000;
    border: 0;
    margin-bottom: 1em;
    color: #FFFFFF;
    padding: 0.2em 0.6em;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.0);
    text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
    position: relative;
    top: 90%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.botao:hover{
    background: #0000FF;
    box-shadow: inset 2px 2px 2px rgba(0,0,0,0.0);
    text-shadow: none;
}

.botao, select{
    cursor: pointer;
}

legend{
    color: #000000;
}